In [1]:
!pip install -U keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.4.5-py3-none-any.whl (129 kB)
                                              0.0/129.5 kB ? eta -:--:--
     ---------                               30.7/129.5 kB 1.4 MB/s eta 0:00:01
     -----------------                     61.4/129.5 kB 825.8 kB/s eta 0:00:01
     ------------------------------------ 129.5/129.5 kB 953.8 kB/s eta 0:00:00
Collecting keras-core (from keras-tuner)
  Downloading keras_core-0.1.7-py3-none-any.whl (950 kB)
                                              0.0/950.8 kB ? eta -:--:--
     --                                      51.2/950.8 kB 2.6 MB/s eta 0:00:01
     --                                      51.2/950.8 kB 2.6 MB/s eta 0:00:01
     ---                                   81.9/950.8 kB 651.6 kB/s eta 0:00:02
     -------                                194.6/950.8 kB 1.2 MB/s eta 0:00:01
     ------------                           317.4/950.8 kB 1.5 MB/s eta 0:00:01
     -------------                          348.2/950.8 kB 1.4 MB/s eta 0:00:01
     --------------------                   501.8/950.8 kB 1.7 MB/s eta 0:00:01
     ------------------------               614.4/950.8 kB 1.8 MB/s eta 0:00:01
     ------------------------------         757.8/950.8 kB 1.9 MB/s eta 0:00:01
     -------------------------------        798.7/950.8 kB 1.9 MB/s eta 0:00:01
     ------------------------------------   901.1/950.8 kB 1.9 MB/s eta 0:00:01
     -------------------------------------- 950.8/950.8 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\ahmed\anaconda3\lib\site-packages (from keras-tuner) (23.0)
Requirement already satisfied: requests in c:\users\ahmed\anaconda3\lib\site-packages (from keras-tuner) (2.29.0)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: absl-py in c:\users\ahmed\anaconda3\lib\site-packages (from keras-core->keras-tuner) (2.0.0)
Requirement already satisfied: numpy in c:\users\ahmed\anaconda3\lib\site-packages (from keras-core->keras-tuner) (1.23.5)
Collecting rich (from keras-core->keras-tuner)
  Downloading rich-13.6.0-py3-none-any.whl (239 kB)
                                              0.0/239.8 kB ? eta -:--:--
     -----------                             71.7/239.8 kB 3.8 MB/s eta 0:00:01
     ------------------------------         194.6/239.8 kB 2.4 MB/s eta 0:00:01
     -------------------------------------- 239.8/239.8 kB 2.9 MB/s eta 0:00:00
Collecting namex (from keras-core->keras-tuner)
  Downloading namex-0.0.7-py3-none-any.whl (5.8 kB)
Requirement already satisfied: h5py in c:\users\ahmed\anaconda3\lib\site-packages (from keras-core->keras-tuner) (3.7.0)
Collecting dm-tree (from keras-core->keras-tuner)
  Downloading dm_tree-0.1.8-cp311-cp311-win_amd64.whl (101 kB)
                                              0.0/101.3 kB ? eta -:--:--
     ---------------------------             71.7/101.3 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 101.3/101.3 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ahmed\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ahmed\anaconda3\lib\site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ahmed\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ahmed\anaconda3\lib\site-packages (from requests->keras-tuner) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ahmed\anaconda3\lib\site-packages (from rich->keras-core->keras-tuner) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ahmed\anaconda3\lib\site-packages (from rich->keras-core->keras-tuner) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\ahmed\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras-core->keras-tuner) (0.1.0)
Installing collected packages: namex, kt-legacy, dm-tree, rich, keras-core, keras-tuner
Successfully installed dm-tree-0.1.8 keras-core-0.1.7 keras-tuner-1.4.5 kt-legacy-1.0.5 namex-0.0.7 rich-13.6.0

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import Sequential
import tensorflow as tf
from tensorflow.keras.layers import Dense
import keras_tuner as kf
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

Using TensorFlow backend

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Churn_Modelling.csv')

In [4]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df.drop(columns = ['RowNumber'	,'CustomerId',	'Surname'], inplace=True)

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
df = pd.get_dummies(data = df,columns=['Geography','Gender'])
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [8]:
x = df.drop(columns = ['Exited'])
y = df['Exited']

In [9]:
sc = StandardScaler()

x = sc.fit_transform(x)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20, random_state=1)

In [12]:
ann = Sequential()

ann.add(Dense(units = 10, activation = 'relu'))
ann.add(Dense(units = 1, activation = 'sigmoid'))

ann.compile(optimizer = 'adadelta', loss = 'binary_crossentropy', metrics ='accuracy')

ann.fit(xtrain,ytrain,epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8377 - accuracy: 0.4121
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8363 - accuracy: 0.4124
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8348 - accuracy: 0.4134
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8333 - accuracy: 0.4144
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8318 - accuracy: 0.4155
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8302 - accuracy: 0.4165
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8286 - accuracy: 0.4174
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8271 - accuracy: 0.4181
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8255 - accuracy: 0.4195
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8238 - accuracy: 0.4199
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8222 - accuracy: 0.4211
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8206 - accuracy: 0.4210
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8191 - accuracy: 0.4221
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8175 - accuracy: 0.4234
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8159 - accuracy: 0.4248
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8143 - accuracy: 0.4269
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8126 - accuracy: 0.4285
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8110 - accuracy: 0.4290
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8095 - accuracy: 0.4294
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8079 - accuracy: 0.4295
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8063 - accuracy: 0.4311
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8047 - accuracy: 0.4320
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8031 - accuracy: 0.4335
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8015 - accuracy: 0.4342
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8000 - accuracy: 0.4350
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7984 - accuracy: 0.4353
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7969 - accuracy: 0.4365
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7953 - accuracy: 0.4376
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7938 - accuracy: 0.4383
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7923 - accuracy: 0.4395
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7907 - accuracy: 0.4409
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7892 - accuracy: 0.4423
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7877 - accuracy: 0.4445
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7862 - accuracy: 0.4455
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7847 - accuracy: 0.4470
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7833 - accuracy: 0.4480
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7818 - accuracy: 0.4494
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7803 - accuracy: 0.4505
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7789 - accuracy: 0.4519
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7775 - accuracy: 0.4525
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7760 - accuracy: 0.4534
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7746 - accuracy: 0.4545
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7732 - accuracy: 0.4563
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7717 - accuracy: 0.4576
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7703 - accuracy: 0.4593
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7689 - accuracy: 0.4601
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7675 - accuracy: 0.4611
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7661 - accuracy: 0.4621
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7646 - accuracy: 0.4631
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7632 - accuracy: 0.4642
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7619 - accuracy: 0.4654
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7605 - accuracy: 0.4671
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7591 - accuracy: 0.4688
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7577 - accuracy: 0.4701
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7564 - accuracy: 0.4716
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7550 - accuracy: 0.4728
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7537 - accuracy: 0.4734
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7523 - accuracy: 0.4741
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7510 - accuracy: 0.4753
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7497 - accuracy: 0.4769
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7484 - accuracy: 0.4781
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7471 - accuracy: 0.4789
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7458 - accuracy: 0.4801
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7445 - accuracy: 0.4807
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7432 - accuracy: 0.4824
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7419 - accuracy: 0.4841
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7406 - accuracy: 0.4849
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7393 - accuracy: 0.4865
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7380 - accuracy: 0.4871
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7367 - accuracy: 0.4880
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7355 - accuracy: 0.4899
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7342 - accuracy: 0.4916
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7330 - accuracy: 0.4929
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7317 - accuracy: 0.4942
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7305 - accuracy: 0.4960
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7292 - accuracy: 0.4979
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7280 - accuracy: 0.4986
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7268 - accuracy: 0.4999
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7256 - accuracy: 0.5015
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7243 - accuracy: 0.5029
Epoch 81/100

250/250 [==============================] - 1s 3ms/step - loss: 0.7231 - accuracy: 0.5042
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7219 - accuracy: 0.5055
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7207 - accuracy: 0.5064
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7195 - accuracy: 0.5073
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7183 - accuracy: 0.5079
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7172 - accuracy: 0.5095
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7160 - accuracy: 0.5109
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7148 - accuracy: 0.5117
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7137 - accuracy: 0.5125
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7125 - accuracy: 0.5136
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7114 - accuracy: 0.5160
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7102 - accuracy: 0.5171
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7091 - accuracy: 0.5178
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7080 - accuracy: 0.5188
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7069 - accuracy: 0.5196
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7058 - accuracy: 0.5207
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7046 - accuracy: 0.5226
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7036 - accuracy: 0.5241
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7025 - accuracy: 0.5253
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7014 - accuracy: 0.5266

In [13]:
ypred = ann.predict(xtest)
ypred = ypred > 0.5
ypred

63/63 [==============================] - 0s 2ms/step

array([[ True],
       [ True],
       [ True],
       ...,
       [False],
       [ True],
       [False]])

In [14]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.77      0.58      0.66      1585
           1       0.18      0.35      0.24       415

    accuracy                           0.53      2000
   macro avg       0.48      0.47      0.45      2000
weighted avg       0.65      0.53      0.58      2000

In [15]:
ann.evaluate(xtrain,ytrain)

250/250 [==============================] - 1s 2ms/step - loss: 0.7008 - accuracy: 0.5274

[0.7008104920387268, 0.5273749828338623]

# Hyperparameter tuning

In [31]:
counter = 0

for i in range(0,11):
  if counter == 0:
    print('Python')
else:
    print('Machine learning')
counter = counter+1

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Machine learning

In [17]:
counter

1

In [18]:
def hyper(hp):
    model = Sequential()
    counter = 0
    for i in range(hp.Int('num_layers', min_value = 1,max_value=10)):
        if counter ==0:
            model.add(Dense(hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
                            activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid']),
                            input_dim = 13))
    else:
        model.add(Dense(
              hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
              activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid'])))
    counter+=1
    model.add(Dense(units = 1,activation='sigmoid'))
    model.compile(optimizer = hp.Choice('optimizer',values = ['adam','rmsprop','sgd']),
                loss = 'binary_crossentropy',metrics = 'accuracy')
    return model

In [19]:
tuner = kf.RandomSearch(hyper,
                        objective = 'val_accuracy',
                        max_trials = 3)

In [20]:
tuner.search(xtrain,ytrain,epochs = 5, validation_data = (xtest,ytest))

Trial 3 Complete [00h 00m 06s]
val_accuracy: 0.7925000190734863

Best val_accuracy So Far: 0.8575000166893005
Total elapsed time: 00h 00m 19s

In [21]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 6,
 'units0': 48,
 'activation0': 'tanh',
 'optimizer': 'adam',
 'units1': 24,
 'activation1': 'relu',
 'units2': 88,
 'activation2': 'sigmoid',
 'units3': 24,
 'activation3': 'sigmoid',
 'units4': 72,
 'activation4': 'sigmoid',
 'units5': 88,
 'activation5': 'sigmoid',
 'units6': 80,
 'activation6': 'tanh',
 'units7': 96,
 'activation7': 'sigmoid',
 'units8': 48,
 'activation8': 'relu'}

In [22]:
df.shape

(10000, 14)

In [23]:
tuned_model = tuner.get_best_models(num_models=1)[0]
tuned_model.build(x.shape)

In [24]:
tuned_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 48)                672

 dense_1 (Dense)             (None, 24)                1176

 dense_2 (Dense)             (None, 88)                2200

 dense_3 (Dense)             (None, 24)                2136

 dense_4 (Dense)             (None, 72)                1800

 dense_5 (Dense)             (None, 88)                6424

 dense_6 (Dense)             (None, 88)                7832

 dense_7 (Dense)             (None, 1)                 89

=================================================================
Total params: 22329 (87.22 KB)
Trainable params: 22329 (87.22 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
tuned_model.fit(xtrain,ytrain,epochs=50, validation_data=(xtest,ytest))

Epoch 1/50
250/250 [==============================] - 3s 4ms/step - loss: 0.3481 - accuracy: 0.8581 - val_loss: 0.3773 - val_accuracy: 0.8540
Epoch 2/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8575 - val_loss: 0.3424 - val_accuracy: 0.8630
Epoch 3/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8587 - val_loss: 0.3530 - val_accuracy: 0.8550
Epoch 4/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8604 - val_loss: 0.3403 - val_accuracy: 0.8595
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8605 - val_loss: 0.3425 - val_accuracy: 0.8605
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8601 - val_loss: 0.3386 - val_accuracy: 0.8635
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8626 - val_loss: 0.3372 - val_accuracy: 0.8625
Epoch 8/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3376 - accuracy: 0.8625 - val_loss: 0.3365 - val_accuracy: 0.8625
Epoch 9/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3377 - accuracy: 0.8631 - val_loss: 0.3337 - val_accuracy: 0.8595
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8620 - val_loss: 0.3449 - val_accuracy: 0.8610
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3320 - accuracy: 0.8619 - val_loss: 0.3416 - val_accuracy: 0.8610
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3307 - accuracy: 0.8636 - val_loss: 0.3422 - val_accuracy: 0.8645
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3283 - accuracy: 0.8630 - val_loss: 0.3365 - val_accuracy: 0.8630
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3285 - accuracy: 0.8656 - val_loss: 0.3355 - val_accuracy: 0.8670
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3291 - accuracy: 0.8625 - val_loss: 0.3371 - val_accuracy: 0.8620
Epoch 16/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3264 - accuracy: 0.8670 - val_loss: 0.3427 - val_accuracy: 0.8650
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3269 - accuracy: 0.8648 - val_loss: 0.3580 - val_accuracy: 0.8590
Epoch 18/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3247 - accuracy: 0.8662 - val_loss: 0.3416 - val_accuracy: 0.8595
Epoch 19/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3242 - accuracy: 0.8645 - val_loss: 0.3373 - val_accuracy: 0.8630
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3223 - accuracy: 0.8674 - val_loss: 0.3390 - val_accuracy: 0.8655
Epoch 21/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3213 - accuracy: 0.8674 - val_loss: 0.3383 - val_accuracy: 0.8620
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3206 - accuracy: 0.8680 - val_loss: 0.3380 - val_accuracy: 0.8615
Epoch 23/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3203 - accuracy: 0.8666 - val_loss: 0.3408 - val_accuracy: 0.8590
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3200 - accuracy: 0.8655 - val_loss: 0.3367 - val_accuracy: 0.8635
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3188 - accuracy: 0.8700 - val_loss: 0.3571 - val_accuracy: 0.8565
Epoch 26/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3189 - accuracy: 0.8680 - val_loss: 0.3388 - val_accuracy: 0.8635
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3156 - accuracy: 0.8696 - val_loss: 0.3438 - val_accuracy: 0.8630
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3167 - accuracy: 0.8695 - val_loss: 0.3417 - val_accuracy: 0.8645
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3143 - accuracy: 0.8711 - val_loss: 0.3430 - val_accuracy: 0.8605
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3147 - accuracy: 0.8685 - val_loss: 0.3528 - val_accuracy: 0.8565
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3123 - accuracy: 0.8712 - val_loss: 0.3504 - val_accuracy: 0.8575
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3141 - accuracy: 0.8708 - val_loss: 0.3513 - val_accuracy: 0.8575
Epoch 33/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3117 - accuracy: 0.8705 - val_loss: 0.3505 - val_accuracy: 0.8555
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3095 - accuracy: 0.8731 - val_loss: 0.3513 - val_accuracy: 0.8545
Epoch 35/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3096 - accuracy: 0.8712 - val_loss: 0.3477 - val_accuracy: 0.8575
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3080 - accuracy: 0.8700 - val_loss: 0.3487 - val_accuracy: 0.8575
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3050 - accuracy: 0.8712 - val_loss: 0.3572 - val_accuracy: 0.8590
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3083 - accuracy: 0.8746 - val_loss: 0.3484 - val_accuracy: 0.8580
Epoch 39/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3030 - accuracy: 0.8764 - val_loss: 0.3621 - val_accuracy: 0.8565
Epoch 40/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3053 - accuracy: 0.8741 - val_loss: 0.3521 - val_accuracy: 0.8570
Epoch 41/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3028 - accuracy: 0.8751 - val_loss: 0.3553 - val_accuracy: 0.8605
Epoch 42/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3025 - accuracy: 0.8754 - val_loss: 0.3558 - val_accuracy: 0.8580
Epoch 43/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3026 - accuracy: 0.8763 - val_loss: 0.3577 - val_accuracy: 0.8565
Epoch 44/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3004 - accuracy: 0.8758 - val_loss: 0.3552 - val_accuracy: 0.8605
Epoch 45/50
250/250 [==============================] - 1s 2ms/step - loss: 0.2987 - accuracy: 0.8763 - val_loss: 0.3657 - val_accuracy: 0.8545
Epoch 46/50
250/250 [==============================] - 1s 2ms/step - loss: 0.2985 - accuracy: 0.8780 - val_loss: 0.3627 - val_accuracy: 0.8545
Epoch 47/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2969 - accuracy: 0.8773 - val_loss: 0.3674 - val_accuracy: 0.8540
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2979 - accuracy: 0.8756 - val_loss: 0.3663 - val_accuracy: 0.8500
Epoch 49/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2952 - accuracy: 0.8750 - val_loss: 0.3735 - val_accuracy: 0.8585
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2953 - accuracy: 0.8760 - val_loss: 0.3727 - val_accuracy: 0.8505

In [26]:
tuned_model.evaluate(xtrain,ytrain)

250/250 [==============================] - 1s 2ms/step - loss: 0.2951 - accuracy: 0.8767

[0.29505211114883423, 0.8767499923706055]

In [27]:
tuned_model.evaluate(xtest,ytest)

63/63 [==============================] - 0s 3ms/step - loss: 0.3727 - accuracy: 0.8505

[0.37267452478408813, 0.8504999876022339]